NRTHZZ_0922/iskola.dtd

<!DOCTYPE iskola
[
<!ELEMENT iskola (tanar, tantargy)>
<!ELEMENT tanar (nev, szak)>
<!ELEMENT nev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>

<!ELEMENT tantargy (tnev, osztaly)>
<!ELEMENT tnev (#PCDATA)>
<!ELEMENT osztaly (#PCDATA)>

<!ATTLIST tanar kod ID #REQUIRED>
<!ATTLIST tantargy kod IDREF #REQUIRED>
<!ATTLIST tantargy oktato CDATA #REQUIRED>

]>