NRTHZZ_1020/szemelyek.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT szemelyek (szemely)>
<!ELEMENT szemely (nev, kor, varos)>
<!ATTLIST szemely id ID #REQUIRED>
<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>